<% include ../../header %>
<div class="row" style="width:100%;">
    <div class="col-md-2">
        <a href="/hotel/events/view" class="btn btn-primary btn-block content-group">See all events</a>
        <div class="panel panel-white">
            <div class="panel-heading">
                <div class="panel-title text-semibold">
                    <i class="icon-plus-circle2 text-size-base position-left"></i>
                    Quick add
                </div>
            </div>

            <div class="panel-body">
                <form method="post" action="/hotel/events/actions/create">
                    <div class="form-group">
                        <div class="has-feedback has-feedback-left">
                            <input name="title" type="text" class="form-control" placeholder="Event title">
                            <div class="form-control-feedback">
                                <i class="icon-reading text-size-large text-muted"></i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="has-feedback has-feedback-left">
                            <input name="days" type="text" class="form-control" placeholder="How many days">
                            <div class="form-control-feedback">
                                <i class="icon-calendar2 text-size-large text-muted"></i>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn bg-blue btn-block">
                        <i class="icon-search4 text-size-base position-left"></i>
                        Create Event
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="content-detached" style="float:right;">