<% include ../../header %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-body">
        <div class="media no-margin stack-media-on-mobile">
            <div class="media-left media-middle">
                <i class="icon-lifebuoy icon-3x text-muted no-edge-top"></i>
            </div>

            <div class="media-body">
                <h6 class="media-heading text-semibold">Somebody forgot their password?</h6>
                <span class="text-muted">Don't worry.  You can reset it here and have it emailed to them!</span>
            </div>

            <div class="media-right media-middle">
                <a data-target="#reset" data-toggle="modal" class="btn btn-primary">Reset Password</a>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="panel">
      <div class="panel-heading">
        <h6 class="panel-title text-semibold">Previous Resets</h6>
      </div>
    </div>
  </div>
</div>

<div id="reset" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">Password Reset</h5>
        </div>
        <div class="modal-body" style="overflow:hidden;">
          <form class="form-horizontal" method="post" action="/emu/users/password">
            <fieldset class="content-user">
              <div class="form-group has-feedback has-feedback-left">
                <label>Username</label>
                <input name="username" type="text" class="form-control input-xlg">
                <div class="form-control-feedback">
                  <i class="icon-vcard"></i>
                </div>
              </div>
            </fieldset>
            <button type="submit" class="btn btn-info" style="float:right;margin-left:15px;"><i class="icon-check"></i> Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
