<% include ./modules/navi %>

<div class="droplet-show" id="navi">
		<div class="row">
				<div class="columns small-12">
						<div class="header" style="border:none;">
								<ul class="Tabs u-mb-4 droplet-tabs">
										<li> <a href="#navi-1"> New Category </a> </li>
								</ul>
								<div class="row u-mt-5" style="width:100%;">
									<div style="margin-top:-5%;">
										<div>
											<form method="post">
                        <div style="width:40%;">
                          <label>Title</label>
                          <input name="title" type="text" spellcheck="false" required="">
                        </div>
                      </div>
                      <div style="width:40%;">
                          <button class="Button Button--blue Button--large Button--fullWidth ">Create</button>
                        </div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
