<% include ../../../header %>

<div class="container-alt">
			<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="wrapper-page signup-signin-page">
					<div class="card-box">
						<div class="panel-heading">
							<h3 class="text-center"> Creating new <strong class="text-custom">account</strong></h3>
						</div>

						<div class="panel-body">
							<form class="form-horizontal m-t-20" method="post">
								<div class="row">
									<div class="col-lg-6">
										<h5><b>Username</b></5>
										<input name="username" class="form-control" type="text" required="">
									</div>
									<div class="col-lg-6">
										<h5><b>Email</b></5>
										<input name="email" class="form-control" type="email" required="">
									</div>
								</div>
								<div class="row">
									<div class="col-lg-10"></div>
									<div class="col-lg-2">
										<button class="btn btn-pink text-uppercase waves-effect waves-light w-sm" type="submit">
											Save Changes
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<% include ../../../footer %>
