<html>
    <head>
        <title><%= website.name %>- Welcome Back</title>
    </head>
    <body>
        <label>Login Bitch</label>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username"/>
            <br>
            <input type="password" name="password" placeholder="Password">
            <br>
            <button type="submit" value="Login">Login </button>
        </form>
        <br><br>
        <label>Join Nigga</label>
        <form action="/register" method="post" align="center">
            <input type="text" name="username" placeholder="Username" class="input_register" id="username"/><br>
            <input type="text" name="mail" placeholder="Email" class="input_register"><br>
            <input type="password" name="password" placeholder="Password" class="input_register" id="password" /><br>
            <input type="password" name="password_confirmation" placeholder="Repeat Password" class="input_register" id="retypenpassword" /><br>
            <input type="submit" class="checkin_habbo_but" value="Register Now!" name="register">
        </form>
    </body>
