<html>
    <head>
        <meta charset='utf-8'>
        <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
        <meta content='width=1050' name='viewport'>
        <title>xHabbo- Staff Login</title>
        <link href="/css/login.css" rel="stylesheet">
        <link href="/css/font-awesome.css" rel="stylesheet">
    </head>
    <body class="login">
      <% if (flash.error) { %>
        <ul class="notice errors %>">
          <li><%= flash.error %></li>
        </ul>
      <% } else if (flash.success) { %>
        <ul class="notice success">
          <li><%= flash.success %></li>
        </ul>
      <% } %>
      <img class="logo" src="/img/xhabbo.png">
      <form class="vertical-form sign-in"  method="post">
        <legend> Log In </legend>
        <input name="username" type="text" placeholder="Username" class="is-sensitive">
        <input name="password" type="password" placeholder="Password" class="is-sensitive">
        <input type="submit" name="commit" value="Log In">
        <p><a href="/reset">Forgot password?</a></p>
      </form>
      <div class="footer">
        <p> Proudly Powered By <a href="http://github.com/chrismpettyjohn" style="text-decoration:none;">xHabbo V</a> </p>
      </div>
</body>
