<% include ../../header %>
<div class="row">
    <div class="small-8 small-centered columns team-creation-wrapper">
        <div id="ember1311" class="ember-view">
            <div id="ember1316" class="ember-view">
                <div class="row creation-steps">
                    <div class="small-11 small-centered columns ">
                        <div class="row">
                            <h1>Welcome back <%= user.username %></h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="small-11 small-centered columns">
                    <div id="ember1321" class="ember-view">
                        <div class="row">
                            <div class="small-12 colums Box">
                                <div class="u-textAlignCenter u-mb-4">
                                    <img src="https://cloud-cdn-digitalocean-com.global.ssl.fastly.net/aurora/assets/images/empty-team-c3e9262be567488dc7c9b74ec611fe71.svg" alt="" class="EmptyState-image u-mb-0">
                                    <h2>Password Reset</h2>
                                    <p>What would you like your new password to be?</p>
                                </div>

                                <form method="post">
                                    <div>
                                        <div class="row">
																						<div class="small-6 columns">
																							<input name="password" type="password" required="" placeholder="Password" autofocus="" class="Input--floatLabel FloatLabel-input">
																						</div>
                                            <div class="small-6 columns">
                                              <input name="password_new" type="password" required="" placeholder="Password Again" autofocus="" class="Input--floatLabel FloatLabel-input">
                                            </div>
                                        </div>

                                        <div class="row u-mt-3">
                                            <div class="small-12 columns buttons-col ">
                                                <div>
                                                    <button class="Button Button--blue Button--large Button--fullWidth "> Continue </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns u-textAlignCenter u-mt-4">
                    <a href="/admin/accounts">Cancel</a>
                </div>
            </div>

            <!---->
        </div>
    </div>
</div>
