<% include ./modules/navi %>

<div class="row" id="navi">
  <div class="columns small-12">
    <ul class="Tabs u-mb-4 droplet-tabs">
      <li><a href="#navi-1">General</a></li>
      <li><a href="#navi-2">Security</a></li>
      <li><a href="#navi-3">Sessions</a></li>
    </ul>
  </div>
  <div class="columns small-12 networkingPage">
    <div class="u-mb-5">

      <!-- General -->
      <div class="row" id="navi-1">
        <div class="small-6 columns">
          <form method="post">
            <div>
              <div>
                <label>First Name</label>
                <input name="name" value="<%= user.name %>" type="text">
              </div>
              <div>
                <label>Avatar</label>
                <input name="avatar" value="<%= user.avatar %>" type="text">
              </div>
              <div>
                <button class="Button Button--blue Button--large Button--fullWidth ">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- General -->
      <div class="row" id="navi-1">
        <div class="small-6 columns">
          <form method="post">
            <div>
              <div>
                <label>Old Password</label>
                <input name="old_password" value="" type="text">
              </div>
              <div>
                <label>New Password</label>
                <input name="new_password" value="" type="text">
              </div>
              <div>
                <button class="Button Button--blue Button--large Button--fullWidth ">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>


    </div>
  </div>
</div>
