<% include ../../header %>
<center>
  <% if (status) { %>
  <div class="home-wrapper">
    <h1 class="icon-main text-custom"><i class="md md-album"></i></h1>
    <h1 class="home-text text-uppercase"><span class="text-primary">xHabbo is</span> <span class="text-pink">out</span> <span class="text-info">of date</span></h1>
    <h4 class="text-muted">Oh boy, it's time to upgrade!</h4>
  </div>
  <% } else { %>
    <div class="home-wrapper">
      <h1 class="icon-main text-custom"><i class="md md-album"></i></h1>
      <h1 class="home-text text-uppercase"><span class="text-primary">xHabbo is</span> <span class="text-info">updated</span></h1>
      <h4 class="text-muted">Good job, you're up to date.</h4>
    </div>
  <% } %>
</center>

<% include ../../footer %>
