<% include ../../header %>

<h4 class="text-center content-group">Alea iacta est</h4>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">Add Category</h6>
            </div>
            <div class="panel-body">
                <form method="post" action="/admin/forums/actions/category/create">
                    <div class="form-group">
                        <input name="title" placeholder="Title" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea name="content" placeholder="Category description" class="form-control" rows="3"></textarea>
                    </div>
                    <input type="submit" class="btn btn-success" value="Add" style="float:right;">
                </form>
            </div>
        </div>
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">Top Posters</h6>
            </div>
            <div class="panel-body">
                Me
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">Browse topics</h6>
            </div>

            <div class="panel-body">
                <div class="row">

                    <% categories.forEach((cat) => { %>
                        <div class="col-md-4">
                            <div class="content-group">
                                <h6 class="text-semibold heading-divided"><i class="icon-folder6 position-left"></i> <%= cat.title %> </h6>
                                <div class="list-group no-border">
                                    <% cat.latest.forEach((cl) => { %>
                                        <a href="/admin/forums/post/<%= cl.id %>" class="list-group-item">
                                            <i class="icon-file-text2"></i> <%= cl.title %>
                                            <% if (cl.status == 'closed') { %>
                                             <span class="label label-danger">Closed</span>
                                             <% } %>
                                        </a>
                                    <% }); %>

                                    <a href="/admin/forum/<%= cat.id %>" class="list-group-item">
                                        <i class="icon-arrow-right22"></i> Show all posts
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
