<% include ../../header %>

<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h6 class="panel-title">Pages To Write</h6>
      </div>

      <div class="panel-body">
        <ul>
          <li>Helpful Tools
            <ul>
              <li>Emergency Operations</li>
              <li>Database Backups</li>
              <li>RCON Communication</li>
            </ul>
          </li>
          <li>Emulator Management
            <ul>
              <li>Basic Options</li>
              <li>Landing Screen</li>
              <li>Catalog Editing
                <ul>
                  <li>Individual Furniture Management</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>User Management
            <ul>
              <li>Quick Overview</li>
              <li>User Viewing
                <ul>
                  <li>Duplicate Accounts</li>
                  <li>Ban Management</li>
                  <li>Inventory Management</li>
                </ul>
              </li>
              <li>Password Reset (Based on Hashing)</li>
            </ul>
          </li>
          <li>Staff Overview</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h6 class="panel-title">Features To Finish</h6>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h6 class="panel-title">Code To Review</h6>
      </div>
      <div class="panel-body">
        <ul>
          <li>Auto Installer Rewrite</li>
          <li>Moving CRUD to database models</li>
          <li><div class="label label-danger">Design overhaul</div></li>
      </div>
    </div>
  </div>
</div>
