<% include ../../header %>

<body data-spy="scroll" data-target=".sidebar-detached" class="has-detached-right">

<div class="container-detached">
    <div class="content-detached">
        <div class="panel panel-flat">
          <% if (wordfilter.length > 0) { %>
            <div class="table">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Text</th>
                        <th>Replaced By</th>
                        <th>Punishment</th>
                        <th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% wordfilter.forEach((word) => { %>
                      <tr>
                          <td><%= word.word %></td>
                          <td><%= word.replacement %></td>
                          <% if (word.bannable == 1) { %>
                            <td><div class="label label-danger">User Ban</div></td>
                          <% } else { %>
                            <td>Mute</td>
                          <% } %>
                          <td class="text-center">
                              <ul class="icons-list">
                                  <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                      <ul class="dropdown-menu dropdown-menu-right">
                                          <li><a data-target="#view_word_<%= word.id %>" data-toggle="modal"><i class="icon-pencil"></i> Quick Edit</a></li>
                                          <li><a href="/emu/customize/wordfilter/delete/<%= word.id %>"><i class="icon-check text-success"></i> Remove From List</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </td>
                      </tr>
                      <% include modals/edit_word %>
                    <% }); %>
                    </tbody>
                </table>
            </div>
            <% } else { %>
              <div class="panel-body">
                <p>There are no blocked words!</p>
              </div>
            <% } %>
        </div>


        <div class="sidebar-detached affix-top">
            <div class="sidebar sidebar-default">
                <div class="sidebar-content">
                    <div class="sidebar-category no-margin">
                        <div class="category-title">
                            <span>Management Tools</span>
                        </div>
                        <div class="sidebar-category">
                            <div class="category-content no-padding">
                                <ul class="nav navigation">
                                    <li class="navigation-header"> Actions</li>
                                    <li><a data-toggle="modal" data-target="#create_word"><i class="icon-plus-circle2 text-slate-400"></i> Add To List</a></li>
                                    <li><a href="/emu/customize/wordfilter/empty"><i class="icon-trash text-slate-400"></i> Remove All Words</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="create_word" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h5 class="modal-title"><i class="icon-menu7"></i> &nbsp;Add Word To Blacklist</h5>
                </div>
                <div class="modal-body">
                  <form class="form-horizontal" method="post" action="/emu/customize/wordfilter/create">
                    <fieldset class="content-user">
                      <legend class="text-bold">Quick Information</legend>

                      <div class="form-group has-feedback has-feedback-left">
                        <label>Triggering Word</label>
                        <input type="text" class="form-control input-xlg" name="word">
                        <div class="form-control-feedback">
                          <i class="icon-warning22"></i>
                        </div>
                      </div>



                      <div class="form-group has-feedback has-feedback-left">
                        <label>Replacement Text</label>
                        <input type="text" class="form-control input-xlg" name="replacement">
                        <div class="form-control-feedback">
                          <i class="icon-spell-check2"></i>
                        </div>
                      </div>

                      <div class="form-group has-feedback has-feedback-left">
                        <label>Bannable</label>
                        <select name="bannable" class="form-control">
                          <option value="1">True</option>
                          <option value="0">False</option>
                        </select>
                        <div class="form-control-feedback">
                          <i class="icon-cancel-square2"></i>
                        </div>
                      </div>

                    </fieldset>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-link" data-dismiss="modal"><i class="icon-cross"></i> Close</button>
          					<button type="submit" class="btn btn-primary"><i class="icon-check"></i> Create</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
