<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"><head>
        <title>Changes Saved</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/core.css" rel="stylesheet" type="text/css">
        <link href="/css/components.css" rel="stylesheet" type="text/css">
        <link href="/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/css/pages.css" rel="stylesheet" type="text/css">
        <link href="/css/responsive.css" rel="stylesheet" type="text/css">
    </head>
    <body>

    	<div class="account-pages"></div>
		<div class="clearfix"></div>

        <div class="wrapper-page">
            <div class="ex-page-content text-center">
                <div class="text-error"><span class="text-primary">Y</span><span class="text-pink">A</span><span class="text-info">Y</span></div>
                <h2>Changes saved</h2><br>
                <p class="text-muted">Your changes have been saved</p>
                <br>
                <a class="btn btn-default waves-effect waves-light" href="/dashboard"> Go Back to Dashboard </a>

            </div>
        </div>

</body></html>
