<% include ./modules/navi %>

<div class="droplet-show" id="navi">
		<div class="row">
				<div class="columns small-12">
						<div class="header" style="border:none;">
								<ul class="Tabs u-mb-4 droplet-tabs">
										<li> <a href="#navi-1"> Article Creator </a> </li>
								</ul>
								<div class="row u-mt-5" style="width:100%;">
									<div style="margin-top:-5%;">
										<div>
											<form method="post">
                        <div style="width:40%;display:inline-block;">
                          <label>Title</label>
                          <input name="title" type="text" spellcheck="false" required="">
                        </div>
                        <div style="width:40%;display:inline-block;">
                          <label>Author</label>
                          <input name="author" type="text" spellcheck="false" required="">
                        </div>
												<div style="width:40%;display:inline-block;">
                          <label>Image</label>
                          <input name="image" type="text" spellcheck="false" required="">
                        </div>
												<div style="width:40%;display:inline-block;">
													<label>Category</label>
													<input name="category" type="text" spellcheck="false" required="">
												</div>
												<div>
	                        <label>Content</label>
	                        <textarea name="content"></textarea>
	                      </div>
                        <div>
                          <button class="Button Button--blue Button--large Button--fullWidth ">Publish Article</button>
                        </div>
											</form>
										</div>





									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
