<footer class="footer text-right">
    <div class="container">
        <div class="row">
            <div class="col-xs-11">
                Powered by xHabbo V
            </div>
            <div class="col-xs-1">
              Build  1.0
            </div>
        </div>
    </div>
</footer>
</div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.core.js"></script>
<script src="/js/jquery.app.js"></script>
</body>
</html>
