<html>
    <head>
        <meta charset='utf-8'>
        <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
        <meta content='width=1050' name='viewport'>
        <title>xHabbo- <%= website.page %></title>
        <link href="/css/primary.css" rel="stylesheet">
        <link href="/css/override.css" rel="stylesheet">
        <link href="/css/font-awesome.css" rel="stylesheet">
        <script src="/js/jquery-1.12.4.js"></script>
        <script src="/js/jquery-ui.js"></script>
        <script src="/js/xhabbo.js"></script>
    </head>
    <body class='aurora control_panel user_context'>
      <div id='container'>
        <div id='content'>
          <div class='contents'>
            <nav class="nav-bar ember-view">
              <div class="nav_controls">
                <div class="row">
                  <div class="columns small-9">
                      <div class="logo-wrapper">
                          <a href="/dashboard" class="Logo ember-view"></a>
                      </div>
                      <a href="/dashboard" class="navLink ember-view">Home</a>
                      <a href="/admin" class="navLink ember-view">Features</a>
                      <a href="/hotel" class="navLink ember-view">Emulator</a>
                      <a href="/cms" class="navLink ember-view">Website</a>
                  </div>
                  <div class="columns small-3  stackRight">
                      <div class="aurora-dropdown-menu navigation-dropdown-menu account-dropdown teams-dropdown ember-view">
                          <div role="button" class="dropdown-title">
                              <div class="ember-view">
                                  <div class="avatarWrapper  ">
                                      <div class="avatar avatar-overlay"></div>
                                      <img src="<%= user.avatar %>" class="avatar">
                                  </div>
                              </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <% if (flash.message) { %>
      <div class="row">
      <div class="Alert--neutralGrey u-mb-4 ">
        <div class="Alert-content">
          <p><%- flash.message %> </p>
        </div>
      </div>
      </div>
    <% } %>
