<% include ../../header %>

<div class="panel panel-body">
    <div class="media no-margin stack-media-on-mobile">
        <div class="media-left media-middle">
            <i class="icon-lifebuoy icon-3x text-muted no-edge-top"></i>
        </div>

        <div class="media-body">
            <h6 class="media-heading text-semibold">Don't be stupid!</h6>
            <span class="text-muted">Taking database backups is protecting your future.</span>
        </div>

        <div class="media-right media-middle">
            <a href="/admin/tools/emergency/actions/shutdown" class="btn btn-primary">Quick Backup</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">Custom Backup</h6>
            </div>
            <div class="panel-body">
                <form method="post">
                    <div class="form-group">
                        <input name="title" type="text" placeholder="Title" class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea name="content" class="form-control" rows="3" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Take Backup" style="float:right">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        Backups !
    </div>
</div>
