<% include ../../header %>

<div class="panel panel-body">
    <div class="media no-margin stack-media-on-mobile">
        <div class="media-left media-middle">
            <i class="icon-lifebuoy icon-3x text-muted no-edge-top"></i>
        </div>

        <div class="media-body">
            <h6 class="media-heading text-semibold">Need to close up shop?</h6>
            <span class="text-muted">Put all services in suspension mode.</span>
        </div>

        <div class="media-right media-middle">
            <a href="/admin/tools/emergency/actions/shutdown" class="btn btn-primary">Shutdown</a>
        </div>
    </div>
</div>
