<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Install - Default User</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/minified/core.min.css" rel="stylesheet" type="text/css">
    <link href="/css/minified/components.min.css" rel="stylesheet" type="text/css">
    <link href="/css/minified/colors.min.css" rel="stylesheet" type="text/css">
    <style>body{ overflow-y: hidden; }</style>
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand"><i class="icon icon-fire" style="margin-right:6px;"></i> xHabbo Management</a>
    </div>
</div>
<div class="page-container" style="min-height:896px">
    <div class="page-container">
        <div class="page-content">
            <div class="sidebar sidebar-main">
                <div class="sidebar-content">
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <a href="#" class="media-left"><img src="https://www.habbo.com/habbo-imaging/avatar/hr-893-45.hd-180-14.ch-210-68.lg-270-64.sh-300-64.wa-2012.cc-260-1408%2Cs-2.g-1.d-2.h-2.a-0%2C6f400f453e946b658294a6b129b9e25e.png" style="height:54px;width:54px;"></a>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">New User</span>
                                    <div class="text-size-mini text-muted">
                                        <i class="icon-shield2 text-size-small"></i> &nbsp; Development Team
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion" style="padding-bottom:520%;">
                                <li class="navigation-header"><span> Quick Links </span> </li>
                                <li> <a href="/dashboard"> <i class="icon-home"></i> <span> About This </span> </a> </li>
                                <li class="navigation-header"><span> Information </span> </li>
                                <li> <a href="#"> <i class="icon-wrench"></i> <span> Running System 2.1 </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Main content -->
            <div class="content-wrapper">
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Install</span> - Default User </h4>
                        </div>
                    </div>
                    <div class="breadcrumb-line"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                        <ul class="breadcrumb">
                            <li><a href="/about"><i class="icon-home2 position-left"></i> xHabbo</a></li>
                            <li><a href="/start">Install</a></li>
                            <li><a href="/start/database">Database</a></li>
                            <li><a href="/start/queries">Queries</a></li>
                            <li><a href="/start/settings">Settings</a></li>
                            <li class="active">Default user</li>
                        </ul>
                    </div>
                </div>
                <div class="content">
                    <% if (success.length > 0) { %>
                      <div class="alert bg-success alert-styled-left">
                                           <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                           <span class="text-semibold">Good Job!</span> <%= success %>.
                                   </div>
                    <% } else if (error.length > 0) { %>
                      <div class="alert bg-danger alert-styled-left">
                                           <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                           <span class="text-semibold">Oh snap!</span> <%= error %>.
                                   </div>
                    <% } %>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h5 class="panel-title">About</h5>
                                </div>
                                <div class="panel-body">
                                    <p>This can be changed later.</p>
                                </div>
                            </div>
                            <div class="panel panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="assets/images/demo/images/3.png">
                                            <img src="http://i.imgur.com/pKQZwUL.png" class="img-circle img-lg" alt="">
                                        </a>
                                    </div>

                                    <div class="media-body">
                                        <h6 class="media-heading">LeChris</h6>
                                        <span class="text-muted">Lead developer</span>
                                    </div>

                                    <div class="media-right media-middle">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="https://github.com/chrismpettyjohn" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu7"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Default Admin</h5>
                                </div>
                                <div class="panel-body">
                                    <form method="post" action="/install/user">
                                        <label>Username</label>
                                        <input name="username" type="text" placeholder="username" class="form-control">
                                        <label>Password</label>
                                        <input name="password" type="text" placeholder="password" class="form-control">
                                        <label>Associated Account</label>
                                        <input name="user_id" type="text" placeholder="Your account on the hotel" class="form-control">
                                        <br>
                                        <input type="submit" class="btn btn-info" value="Save" style="float:right;">
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
